# Ignorar variáveis de ambiente (Senhas e IDs do Notion)
.env

# Ignorar o banco de dados local com seus dados financeiros
financeiro_cache.db

# Ignorar pastas de sistema e cache do Python
__pycache__/
.venv/
env/